body {
  font-family: Arial;
  background: linear-gradient(135deg, #b8babd, #515254);
  padding: 30px;
}

.component {
  background: white;
  padding: 20px;
  margin-bottom: 20px;
  border-radius: 10px;
  box-shadow: 0 5px 10px rgba(0,0,0,0.1);
}
button {
  margin: 5px;
}
